<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
        <title>Signature de {{ team.firstName }} {{ team.lastName }}</title>
    </head>
    <body>
        <div dir="ltr" class="gmail_signature">
            <div dir="ltr">
                <div><br></div>
                <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF" style="color:rgb(34,34,34);border-width:0px;border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px">
                    <tbody>
                        <tr style="border-width:0px;border-collapse:collapse;border-spacing:0px">
                            <td valign="top" style="border-width:0px;border-collapse:collapse;border-spacing:0px">
                                <table width="490" align="left" cellspacing="0" cellpadding="0" border="0" style="border-width:0px;border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px">
                                    <tbody>
                                        <tr style="border-width:0px;border-collapse:collapse;border-spacing:0px">
                                            <td width="130" align="left" valign="center" style="padding:0">
                                                <img width="130" height="65" src="{{ vich_uploader_asset(logo, 'imageFile', 'App\\Entity\\Logo') }}" style="border:0;display:block;outline:none;text-decoration:none;width:130px;height:65px" />
                                            </td>
                                            <td>
                                                <table width="380" align="left" cellspacing="0" cellpadding="0" border="0" style="border-width:0px;border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px">
                                                    <tbody>
                                                        <tr>
                                                            <td width="30" style="padding:0"></td>
                                                            <td width="130" align="left" valign="top" style="padding:0">
                                                                <table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                                                                    <tr>
                                                                        <td style="padding:0">
                                                                            <span style="font-family:Helvetica,Arial,sans-serif;color:#e54920;font-size:13px;line-height:1.2;display:block">{{team.lastName}} {{team.firstName}}</span>
                                                                            <span style="font-family:Helvetica,Arial,sans-serif;font-size:12px;font-style:italic;line-height:1.2;display:block">{{team.title}}<br/>{{team.role}}</span>
                                                                            <div style="margin:0; padding-top:20px;">
                                                                                <a href="tel:{{team.phoneFormatted}}" style="display: block;font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000000;text-decoration:none;line-height:1.2">{{team.phone}}</a>
                                                                                <a href="mailto:{{team.email}}" style="display: block;font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000000;text-decoration:none;line-height:1.2">{{team.email}}</a>
                                                                                <a href="https://www.efra.fr" style="display: block;font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000000;text-decoration:none;line-height:1.2">www.efra.fr</a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td width="20" style="padding:0"></td>
                                                            <td width="200" align="left" valign="top" style="padding:0">
                                                                <table cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                                                                    <tr>
                                                                        <td style="padding:0">
                                                                            <span style="font-family:Helvetica,Arial,sans-serif;font-size:11.4px;line-height:1.2;display:block; color:#2a3064; font-weight: 700;">REIMS</span>
                                                                            <span style="font-family:Helvetica,Arial,sans-serif;font-size:11.4px;font-style:italic;line-height:1.2;display:block">5 rue de Talleyrand</span>
                                                                            <span style="display:block">
                                                                                <a href="tel:+33326072250" style="font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000000;text-decoration:none;line-height:1.2">03 26 07 22 50</a>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-top:20px">
                                                                            <span style="font-family:Helvetica,Arial,sans-serif;font-size:11.4px;line-height:1.2;display:block; color:#2a3064; font-weight: 700;">TROYES</span>
                                                                            <span style="font-family:Helvetica,Arial,sans-serif;font-size:11.4px;font-style:italic;line-height:1.2;display:block">29 rue des Quinze Vingts</span>
                                                                            <span style="display:block">
                                                                                <a href="tel:+33325428489" style="font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000000;text-decoration:none;line-height:1.2">03 25 42 84 89</a>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% if banner is not empty %}
                <table cellpadding="0" cellspacing="0" width="490" bgcolor="#FFFFFF" style="color:rgb(34,34,34);border-width:0px;border-collapse:collapse;border-spacing:0px;margin-top:20px;margin-bottom:0;margin-left:0;margin-right:0;padding:0px">
                    <tbody>
                        <tr style="border-width:0px;border-collapse:collapse;border-spacing:0px">
                            <td valign="top" style="border-width:0px;border-collapse:collapse;border-spacing:0px">
                                <table width="490" align="left" cellspacing="0" cellpadding="0" border="0" style="border-width:0px;border-collapse:collapse;border-spacing:0px;margin:0px;padding:0px">
                                    <tbody>
                                        <tr style="border-width:0px;border-collapse:collapse;border-spacing:0px">
                                            <td width="130" align="left" valign="center" style="padding:0">
                                                <img src="{{ vich_uploader_asset(banner, 'imageFile', 'App\\Entity\\Banner') }}" alt="Bannière" style="border:0;display:block;outline:none;text-decoration:none;width:100%;height:auto;" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </body>
</html>